<div class="container"
     fxLayout
     fxLayout.xs="column"
     fxLayoutAlign="center"
     fxLayoutGap="0.5%">
  <div class="intro" fxFlex>
    <h1>About Me</h1>
    <h4 style="width: 300px">I enjoy turing complex problems into simple, beautiful and intuitive design.
    I am also passionate about building excellent software that improves the lives of those around me.
    </h4>
  </div>
  <div fxFlex>
    <img src="/assets/images/logo.png" height="400px" width="400px">
  </div>
</div>
<mat-divider></mat-divider>
<div class="container"
     fxLayout
     fxLayout.xs="column"
     fxLayoutAlign="center">
  <div fxFlex >
    Part Design
    <mat-list role="list">
      <mat-list-item role="listitem">Item 1</mat-list-item>
      <mat-list-item role="listitem">Item 2</mat-list-item>
      <mat-list-item role="listitem">Item 3</mat-list-item>
    </mat-list>
  </div>
  <span class="pie-chart"></span>
  <div fxFlex>
    Part Coder
    <mat-list role="list">
      <mat-list-item role="listitem">Item 1</mat-list-item>
      <mat-list-item role="listitem">Item 2</mat-list-item>
      <mat-list-item role="listitem">Item 3</mat-list-item>
    </mat-list>
  </div>
</div>
<mat-divider></mat-divider>
<div class="container"
     fxLayout
     fxLayout.xs="column"
     fxLayoutAlign="center"
     fxLayoutGap="0.5%">
  <div class="intro" fxFlex>
    <h1>My skills</h1>
  <canvas id="bar-chart-horizontal" width="700" height="400"></canvas>
  </div>
</div>
<mat-divider></mat-divider>
<div class="container"
     fxLayout
     fxLayout.xs="column"
     fxLayoutAlign="center"
     fxLayoutGap="0.5%">
  <div fxFlex>
    <img src="/assets/images/logo.png" height="400px" width="400px">
  </div>
  <div class="intro" fxFlex>
    <h1>Random Facts</h1>
      <mat-list role="list">
        <mat-list-item role="listitem">Item 1</mat-list-item>
        <mat-list-item role="listitem">Item 2</mat-list-item>
        <mat-list-item role="listitem">Item 3</mat-list-item>
      </mat-list>
  </div>
</div>
