.home-transition {
  width: 50%;
  height: 350px;
  background: #bdbdbd;
  -webkit-transition: width 2s;
  transition: width 2s;
}

.home-transition:hover {
  width: 100%;
}

.container {
  width: 100%;
  padding-top: 20px;
}
