<div class="home-transition"></div>
<mat-divider></mat-divider>
<h1 style="text-align: center; padding-top: 20px;">Hi. I am Yu-Chih, a software developer based in Boulder, Colorado.</h1>
<div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">
  <div fxFlex="20%" fxLayoutAlign="center">
    <i class="material-icons" style="font-size: 50px;">perm_identity</i>
    <p>Self Motivation</p>
  </div>
  <div fxFlex="20%" fxLayoutAlign="center">
    <i class="material-icons" style="font-size: 50px;">redeem</i>
    <p>Passion for quality design</p>
  </div>
  <div fxFlex="20%" fxLayoutAlign="center">
    <i class="material-icons" style="font-size: 50px;">restore</i>
    <p>High End User Focus</p>
  </div>
  <div fxFlex="20%" fxLayoutAlign="center">
    <i class="material-icons" style="font-size: 50px;">rowing</i>
    <p>Love of learning</p>
  </div>
</div>
